body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: #001a4d;
  color:white;
}
.container {
 /* width:100%;
 margin:1em auto; */
}
.site-container {
  min-height: 100vh;
}

main {
 flex: 1;
 margin: 1rem;
 align-items: center;
}
